.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
/* @variants {
  .overflow-x-auto-wrapper > .overflow-x-auto {
    width: calc(100% + 100px); /* Adjust as needed */
/* }
} */

/* Decrease width of the search filters */
/* Assuming each filter is inside a div with the class "w-full" */
/* .w-full {
  width: 20rem; /* Adjust as needed */
/* } */
